@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-button {
        @apply bg-zinc-700 py-1 px-3 shadow rounded ring-0 hover:ring-2 outline-none ring-red-400 duration-75 box-border
    }
    .sidebar-active {
        @apply border-l-4 border-red-700
    }
    .sidebar-icon-active {
        @apply text-red-600
    }

    .elyby-btn {
        @apply bg-gradient-to-r from-green-500 to-green-600 px-5 py-2 text-white flex items-center gap-3 rounded-lg font-semibold shadow-lg transition-all duration-200
    }

    .microsoft-btn {
        @apply bg-gradient-to-r from-blue-500 to-blue-600 px-5 py-2 text-white flex items-center gap-3 rounded-lg font-semibold shadow-lg transition-all duration-200
    }
    .play-btn {
        @apply text-white px-5 py-2  bg-zinc-900 duration-200 flex items-center gap-3 rounded-lg font-semibold shadow-lg transition-all
    }
    .play-btn:hover {
        @apply bg-green-500
    }
    .show {
        @apply block
    }
    .sidebar {
        @apply bg-zinc-800 min-w-[224px] max-w-[224px] h-full gap-y-3 flex flex-col p-3
    }
    .page-activy {
        @apply block
    }
    .page-disabled {
        @apply hidden
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}